@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1920px;
  --sidebar-narrow-width: 120px;
  --sidebar-expand-width: 300px;
  --sidebar-head-height: 80px;

  --primary-color: #ea6a12;
}

@layer base {
  * {
    @apply z-20;
  }
  body {
    @apply bg-gray-300 flex justify-center;
  }

  aside {
    @apply data-[expanded=true]:w-[var(--sidebar-expand-width)] data-[expanded=false]:w-[var(--sidebar-narrow-width)] flex flex-col items-center border-r-2 transition;
  }

  main {
    @apply w-full h-screen overflow-auto flex flex-col relative;
  }

  header {
    @apply flex items-center justify-between p-9  h-[var(--sidebar-head-height)] border-b sticky top-0 z-50 bg-white;
  }
}

@layer components {
  #root {
    @apply max-w-[var(--max-width)] w-full flex bg-[#fafafa];
  }

  .sidebar-animate-logo {
    @apply scale-0 opacity-0 transition 
      group-data-[expanded=true]:scale-100 
      group-data-[expanded=true]:opacity-100
      group-data-[expanded=true]:-translate-x-10;
  }

  .sidebar-animate-main-logo {
    @apply scale-100 opacity-100 sidebar-animate-logo;
  }
  .sidebar-animate-pizza {
    @apply transition
      group-data-[expanded=true]:size-10 
      group-data-[expanded=false]:size-6 
      group-data-[expanded=true]:-translate-x-10
      group-data-[expanded=false]:-translate-x-[118px]
      group-data-[expanded=false]:-translate-y-5;
  }
}

@layer utilities {
  .transition {
    @apply transition-all duration-500;
  }
}
